*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
  }
  
  :root{
      --
 
      --header-color: #6991db;
      --font-color:  #ffffff;
  }
  
  body{
      background-color:#ffffff;
  }
  
  
  .header{
      padding: 20px;
      font-family: 'Gruppo', cursive;
      background-color: grey;
      color:var(--font-color);
     
      
     
      }
  
  .header h1{
      display: inline-block;
      font-size: 48px;
          
  }
  
  .header div{
      padding-top:15px;
      margin-left: 20px;
      float: right;
      font-family:'Pontano Sans', sans-serif;
      font-size: 20px;
  }
  
  
  
  .header div ul li {
      display: inline-block;
      margin-left: 25px;
  }
  
  a{
      color: var(--font-color);
      text-decoration: none;
  
  }
  
  
  .footer{
      padding: 35px;
      height: 100px;
      font-family: 'Gruppo', cursive;
      background-color: grey;
      color:var(--font-color);
      text-decoration: none;

         
  }
  
  .footer div{
      padding top: 15px;
      margin-right: 20px;
      float: right;
      font-size: 20px;
      font-family:'Pontano Sans', sans-serif;
      
  }
  
  .footer div ul {
      list-style-type: none;
  }
  .footer div ul li{
      display: inline-block;
      margin-left: 25px;
  }
  
  .footer h1{
     display: inline-block;
     font-size:35px;

  }



  .myphoto{
    border: 2px solid hotpink;
    height: 240px;
    width: 240px;
    float: left;
    margin-left: -60px;
    margin-top: -60px;
}
.aboutme{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    display:inline-block;
    text-align:center;


}
.homework1{
    height:250px;
    float:right;


}
.homework2{
    height: 250px;
    width: 250px;

}
#homework3{
    float: right;
    display: flex;
    height:250px;
    width: 250px;
   
   
}
#aboutme{
    background:rgb(211, 238, 211);
}

#work{
    background:cornsilk;
    padding:75px;
}

.card2{
    background:rgb(211, 238, 211);
    display: flex;
    flex-direction: column;
}var names   
}
.work-cards{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    margin-bottom: 50px;
    
    
}

.card-text{
    padding: 0 40px;
}
